In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [46]:
books = pd.read_csv('./Books.csv', encoding='latin-1')
users = pd.read_csv('./Users.csv', encoding='latin-1')
ratings = pd.read_csv('./Ratings.csv', encoding='latin-1')

C:\Users\saroj\AppData\Local\Temp\ipykernel_10208\1494972954.py:1: DtypeWarning: Columns (7,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('./Books.csv', encoding='latin-1')

In [3]:
books.head()

,isbn,title,author,year,publisher,image_url,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,NaN,NaN,NaN,NaN,NaN,NaN
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,NaN,NaN,NaN,NaN,NaN,NaN
2,60973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,NaN,NaN,NaN,NaN,NaN,NaN
3,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,NaN,NaN,NaN,NaN,NaN,NaN
4,393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
books.shape

(271379, 12)

In [47]:
books.columns

Index(['isbn', 'title', 'author', 'year', 'publisher', 'image_url',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11'],
      dtype='object')

In [6]:
ratings.head()

   user_id        isbn  rating
0   276725  034545104X       0
1   276726   155061224       5
2   276727   446520802       0
3   276729  052165615X       3
4   276729   521795028       6

In [7]:
users.head()

,user_id,location,age,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,1,"nyc, new york, usa;NULL",NaN,NaN,NaN,NaN
1,2,"stockton, california, usa",18,NaN,NaN,NaN
2,3,"moscow, yukon territory, russia;NULL",NaN,NaN,NaN,NaN
3,4,"porto, v.n.gaia, portugal",17,NaN,NaN,NaN
4,5,"farnborough, hants, united kingdom;NULL",NaN,NaN,NaN,NaN

In [8]:
ratings['user_id'].value_counts()

user_id
11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
104999        1
105002        1
105008        1
105014        1
123969        1
Name: count, Length: 95513, dtype: int64

In [9]:
x = ratings['user_id'].value_counts() > 50
x[x].shape

(3066,)

In [10]:
y= x[x].index
y

Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352, 110973,
       235105,
       ...
       205197, 239486, 220911, 185731, 213119,  76440, 167521,  79506, 276847,
        39705],
      dtype='int64', name='user_id', length=3066)

In [11]:
ratings = ratings[ratings['user_id'].isin(y)]

In [12]:
ratings.head()

     user_id        isbn  rating
173   276847   446364193       0
174   276847  3257200552       5
175   276847  3379015180       0
176   276847  3404145909       8
177   276847  3404148576       8

In [13]:
ratings_with_books = ratings.merge(books, on='isbn')

In [14]:
ratings_with_books.head()

,user_id,isbn,rating,title,author,year,publisher,image_url,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,276847,446364193,0,Along Came a Spider (Alex Cross Novels),James Patterson,1993,Warner Books,http://images.amazon.com/images/P/0446364193.0...,NaN,NaN,NaN,NaN,NaN,NaN
1,276847,3379015180,0,Schlafes Bruder,Robert Schneider,1994,"Reclam, Leipzig",http://images.amazon.com/images/P/3379015180.0...,NaN,NaN,NaN,NaN,NaN,NaN
2,276847,3404145909,8,Der Stein der Kelten.,Michael Phillips,2001,LÃ?Â¼bbe,http://images.amazon.com/images/P/3404145909.0...,NaN,NaN,NaN,NaN,NaN,NaN
3,276847,3404148576,8,Nordermoor,Arnaldur Indridason,2003,LÃ?Â¼bbe,http://images.amazon.com/images/P/3404148576.0...,NaN,NaN,NaN,NaN,NaN,NaN
4,276847,3404921178,7,Nur der Tod ist ohne Makel.,Ann Granger,2002,LÃ?Â¼bbe,http://images.amazon.com/images/P/3404921178.0...,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
number_rating = ratings_with_books.groupby('title')['rating'].count().reset_index()

In [16]:
number_rating.head()

                                               title  rating
0   A Light in the Storm: The Civil War Diary of ...       4
1                              Always Have Popsicles       1
2               Apple Magic (The Collector's series)       1
3   Beyond IBM: Leadership Marketing and Finance ...       1
4   Clifford Visita El Hospital (Clifford El Gran...       1

In [17]:
number_rating.rename(columns={'rating':'num_of_rating'},inplace=True)

In [18]:
number_rating.head()

                                               title  num_of_rating
0   A Light in the Storm: The Civil War Diary of ...              4
1                              Always Have Popsicles              1
2               Apple Magic (The Collector's series)              1
3   Beyond IBM: Leadership Marketing and Finance ...              1
4   Clifford Visita El Hospital (Clifford El Gran...              1

In [19]:
final_rating = ratings_with_books.merge(number_rating, on='title')

In [20]:
final_rating.head()

,user_id,isbn,rating,title,author,year,publisher,image_url,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,num_of_rating
0,276847,446364193,0,Along Came a Spider (Alex Cross Novels),James Patterson,1993,Warner Books,http://images.amazon.com/images/P/0446364193.0...,NaN,NaN,NaN,NaN,NaN,NaN,173
1,276847,3379015180,0,Schlafes Bruder,Robert Schneider,1994,"Reclam, Leipzig",http://images.amazon.com/images/P/3379015180.0...,NaN,NaN,NaN,NaN,NaN,NaN,9
2,276847,3404145909,8,Der Stein der Kelten.,Michael Phillips,2001,LÃ?Â¼bbe,http://images.amazon.com/images/P/3404145909.0...,NaN,NaN,NaN,NaN,NaN,NaN,3
3,276847,3404148576,8,Nordermoor,Arnaldur Indridason,2003,LÃ?Â¼bbe,http://images.amazon.com/images/P/3404148576.0...,NaN,NaN,NaN,NaN,NaN,NaN,6
4,276847,3404921178,7,Nur der Tod ist ohne Makel.,Ann Granger,2002,LÃ?Â¼bbe,http://images.amazon.com/images/P/3404921178.0...,NaN,NaN,NaN,NaN,NaN,NaN,5

In [21]:
final_rating = final_rating[final_rating['num_of_rating'] >= 50]

In [22]:
final_rating.head()

,user_id,isbn,rating,title,author,year,publisher,image_url,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,num_of_rating
0,276847,446364193,0,Along Came a Spider (Alex Cross Novels),James Patterson,1993,Warner Books,http://images.amazon.com/images/P/0446364193.0...,NaN,NaN,NaN,NaN,NaN,NaN,173
47,276925,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,NaN,NaN,NaN,NaN,NaN,NaN,109
52,276925,140327592,0,Matilda,Roald Dahl,1990,Viking Penguin Inc,http://images.amazon.com/images/P/0140327592.0...,NaN,NaN,NaN,NaN,NaN,NaN,82
59,276925,316666343,0,The Lovely Bones: A Novel,Alice Sebold,2002,"Little, Brown",http://images.amazon.com/images/P/0316666343.0...,NaN,NaN,NaN,NaN,NaN,NaN,509
62,276925,385504209,8,The Da Vinci Code,Dan Brown,2003,Doubleday,http://images.amazon.com/images/P/0385504209.0...,NaN,NaN,NaN,NaN,NaN,NaN,407

In [23]:
final_rating.drop_duplicates(['user_id','title'],inplace=True)

In [24]:
final_rating.shape

(113344, 15)

In [25]:
book_pivot = final_rating.pivot_table(columns='user_id', index='title', values= 'rating')

In [26]:
book_pivot

user_id,183,243,254,507,626,638,643,741,882,929,...,277928,277965,278026,278137,278144,278188,278418,278582,278633,278843
title,,,,,,,,,,,,,,,,,,,,,
1984,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010: Odyssey Two,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204 Rosewood Lane,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
24 Hours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
book_pivot.fillna(0, inplace=True)

In [28]:
book_pivot

user_id,183,243,254,507,626,638,643,741,882,929,...,277928,277965,278026,278137,278144,278188,278418,278582,278633,278843
title,,,,,,,,,,,,,,,,,,,,,
1984,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2010: Odyssey Two,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
204 Rosewood Lane,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24 Hours,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
from scipy.sparse import csr_matrix

In [30]:
book_sparse = csr_matrix(book_pivot)

In [31]:
type(book_sparse)

scipy.sparse._csr.csr_matrix

In [32]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm= 'brute')

In [33]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [34]:
distance, suggestion = model.kneighbors(book_pivot.iloc[123,:].values.reshape(1,-1), n_neighbors=10 )

In [35]:
distance

array([[ 0.        , 23.40939982, 23.72762104, 23.9582971 , 24.87971061,
        25.03996805, 25.05992817, 25.0998008 , 25.35744467, 25.63201124]])

In [36]:
suggestion

array([[ 123,  384,   37, 1142,  861,  254,  698,  630,  366,  599]],
      dtype=int64)

In [37]:
book_pivot.iloc[123,:]

user_id
183       0.0
243       0.0
254       0.0
507       0.0
626       0.0
         ...
278188    0.0
278418    0.0
278582    0.0
278633    0.0
278843    0.0
Name: Billy Straight : A Novel, Length: 2923, dtype: float64

In [38]:
for i in range(len(suggestion)):
    print(book_pivot.index[suggestion[i]])

Index(['Billy Straight : A Novel', 'Ground Zero and Beyond',
       'A Theory of Relativity',
       'Tom Clancy's Op-Center: Games of State (Tom Clancy's Op Center (Paperback))',
       'The Cat Who Went into the Closet', 'Deck the Halls (Holiday Classics)',
       'Ruthless.Com (Tom Clancy's Power Plays (Paperback))',
       'Personal Injuries', 'Get Shorty', 'On Wings of Eagles'],
      dtype='object', name='title')

In [39]:
np.where(book_pivot.index == "1984")[0][0]

0

In [40]:
def recommend_book(book_name):
    book_id = np.where(book_pivot.index == book_name)[0][0]
    distance, suggestion = model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1,-1), n_neighbors=10 )
    
    for i in range(len(suggestion)):
            books = book_pivot.index[suggestion[i]]
            for j in books:
                if j == book_name:
                    print(f"You searched '{book_name}'\n")
                    print("The suggested books are: \n")
                else:
                    print(j)

In [41]:
recommend_book("1984")

You searched '1984'

The suggested books are:

The Cat Who Went into the Closet
Ruthless.Com (Tom Clancy's Power Plays (Paperback))
Ground Zero and Beyond
No Safe Place
A Theory of Relativity
The Charm School
Tom Clancy's Op-Center: Games of State (Tom Clancy's Op Center (Paperback))
Personal Injuries
Get Shorty

In [42]:
recommend_book("The Hitchhiker's Guide to the Galaxy")

You searched 'The Hitchhiker's Guide to the Galaxy'

The suggested books are:

Waiting (Vintage International)
Ground Zero and Beyond
No Safe Place
Surfacing
A Theory of Relativity
Tom Clancy's Op-Center: Games of State (Tom Clancy's Op Center (Paperback))
I'll Take Manhattan
Once in a Lifetime
Sophies Choice

In [45]:
recommend_book("Zoya")

You searched 'Zoya'

The suggested books are:

Morning, Noon &amp; Night
Jewels
Silent Honor
The Ranch
Fine Things
I'll Take Manhattan
Mixed Blessings
Irresistible Forces
Wings